*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* -------------header part Start-------------- */
.navbar-brand img{
    height:60px; 
}
nav{
    background: #fdfcfc !important;
    padding: 0px !important;
}
nav ul li a{
	font-size: 16px;
	color: #ab0d0d !important;
    margin-left: 20px; 
}
nav ul li a:hover{
    color: #6042e6 !important;
    
}
.sing-up button{
    border: none;
    background: none;
}
.sing-up button a{
    background: #6042e6;
    padding: 12px 20px;
    color: #ffffff !important;
    border-radius:25px;
 }
  .sing-up button a:hover{
    color: #ffffff !important;
 } 
 .drop-down ul li a{
    margin-left: 0px !important;
 }
/* -------------header part End-------------- */


/* -------------Banner part Start-------------- */
#banner-part .banner{
    height: 560px;
    background: linear-gradient(90deg,#7250d5 0,#aa47a5 50%,#f43a67 99%);
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 98%);
}
#banner-part .video h1{
    width: 900px;
    color: #faf6f6;
    text-align: center;
    font-size: 40px;
     margin: 40px auto;
} 
#banner-part .video{
    text-align: center;
    margin-top: -520px;
    position: relative;
}
#banner-part .video iframe{
    border: 4px solid #fdfcfc;
}
/* -------------Banner part End-------------- */

/* -------------Count-part part Start-------------- */
#count_part{
	margin-bottom: 70px;
}
#count_part .main{
	width: 100%;
	background: #fff;
	box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.09);
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-radius: 15px;
    margin: 40px 0px 60px 0px;
}
#count_part .main .items{
	width: 20%;
}
#count_part .main .items img{
	height: 70px;
	width: 70px;
}
#count_part .main .items h1{
	color: #d790b5;
	margin: 10px 0 0 0;
    font-size: 30px;
	font-family: 'Open Sans', sans-serif;
}
#count_part .main .items p{
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
#count_part .text{
    text-align: center;
}
#count_part .text h3{
    text-align: center;
    color: #dc43c6;
    font-size: 16px;
    margin-top: 50px;
}
#count_part .text h1{
    text-align: center;
    color:#333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 10px;
}
#count_part .text p{
    text-align: center;
    color:#333;
    font-size: 16px;
    margin-top: 10px;
}
/* -------------Count-part part End-------------- */

/* -------------Video2-part part Start-------------- */
.video2-part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    text-align: center;
   
}
.video2-part iframe{
    border: 4px solid #fdfcfc;
}
/* ------------------Video2-part part End-------------- */

/* ------------------Review Part Start------------------*/
.review-part{
    padding: 100px;
    background: #efefef;
}
.slide-content{
    margin: 0 40px;
}
.card{
    width: 320px;
    border-color: #fff;
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    padding: 10px 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    left: 0;
    top: 0;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}
.card-content h2{
    font-size: 18px;
    font-weight: 500;
    color:#333
}
.card-content p{
    font-size: 15px;
    color:#707070;
    text-align: center;
}
.card-content button{
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #4070F4;
    padding: 10px 15px;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: .4s;
}
.card-content button:hover{
    background-color: #265DF2;
}
/* ------------------Review Part End------------------*/

/* -----------------working-process Start-------------- */
#working-process .title{
    text-align: center;
}
#working-process .title p{
    font-size: 14px;
    color: #dc43c6;
    margin: 10px 0px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-top: 70px;
}
#working-process .title h3{
    color: #211c51;
    font-size: 26px;
    margin-bottom: 60px;
}
#working-process .item .review .text{
    margin-top: 100px;
}
#working-process .item .review .text h5{
    font-size: 14px;
    color: #dc43c6;
   margin-bottom: 15px;
}
#working-process .item .review .text h4{
    font-size: 22px;
    color: #211c51;
    margin: 10px 0px;
   
}
#working-process .item .review .text p{
    font-size: 18px;
    color: #333;
    line-height: 28px;
}

#working-process .item .review .img img{
    height: 400px;
    margin-left: -65px;
}

/* -------------working-process End-------------- */


/* -------------All Websites Start-------------- */
#all-website{
    background: #f8f8f8;
    padding-bottom: 30px;
}
#all-website .all-item .card{
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 8px;
}
#all-website h1{
    color: #333;
    text-align: center;
    font-weight: 200;
    font-size: 31px;
    padding: 70px 0px 50px 0px;
}
#all-website .button{
    text-align: center;
}
#all-website .button a{
    padding: 16px 22px;
    background: #8244FF;
    border-radius: 25px;
    color: #f8f8f8;
    
}
/* -------------All Websites Start End---------*/

/* -------------Membership-part Start------------- */
#membership-part{
    padding: 70px 0px;
    background: linear-gradient(90deg,#31092a,#0e0331);
}
#membership-part .item .img{
    text-align: center;
}
#membership-part .item button{
    margin-left: 45.5%;
    margin-bottom: 20px;
}
#membership-part .item button a{
    padding: 12px 15px;
    border-radius: 5px;
    background: linear-gradient(90deg,#339cff,#5960ff 43%,#d713e6);
    color: #fff;
    text-align: center;
}
#membership-part .item h5{
   text-align: center;
   color: #ad386b;
}
#membership-part .item h1{
    text-align: center;
    color: #efefef;
 }
 #membership-part .item p{
    text-align: center;
    color: #efefef;
 }
/* -------------Membership-part Start------------- */


/* -------------Footer-part Start------------- */

.footer_part{
    background:#221e52;
    padding: 40px 0px;
    box-sizing: border-box;
}
.footer_part .footer{
    display: flex;
    justify-content: space-between;
}
.footer_part .footer .footer_contactpart .footer_logo img{
    height: 100px;
    margin-bottom: 30px;
}
.footer_part .footer .footer_contactpart{
    width: 35%;
}
.footer_part .footer .footer_contactpart .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.footer_part .footer_contactpart .contact .contact-icon i{
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	background: #5bc5f4;
	color: #fff;
}
.footer_part .footer_contactpart .contact .contact-text{
	width: 80%;
	color: #f1f1f1;
	margin-left: 10px;
	margin-top: 15px;
	
}
.footer_part .footer_contactpart .contact .contact-text p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 13px;
    color: #ffffff;
}
.footer_part .footer .footer_linkspart{
    width:25%;
}
.footer_part .footer .footer_linkspart h1{
   font-size: 30px;
   margin: 15px 0px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   color: #fff;
}
.footer_part .footer .footer_linkspart ul li{
    font-size: 16px;
    padding: 8px 0px;
	color: #ffffff;
	transition: .4s;
 }
 .footer_part .footer .footer_linkspart ul li:hover{
	margin-left: 10px;
	color:#5bc5f4;
 }
.footer_part .footer .footer_aboutpart{
    width:  40%;
}
.footer_part .footer_aboutpart .links .footer_aboutpart-icon i{
    height: 70px;
    width: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    line-height: 70px;
    text-align: center;
    margin-left: 13px;
    font-size: 30px;
    color: #61c5f0;
    margin-top: 30px;
}
.footer_part .footer_aboutpart .links h1{
    font-size: 30px;
    padding: 10px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
}

/*-------------------- End Footer Part --------------------*/


/*----------------- Start Copyright Par-------------------*/
#copyright{
    background: #1a2142;
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
}
#copyright .copyright_part{
	display: flex;
	justify-content: center;
}
#copyright .copyright_part .text{
	margin-top: 10px;
}
#copyright p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}
/*---------------End Copyright Part------------*/
